body{
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.discripton-color{
    color: #727272;
}

/* Header related style */
.nav-title{
    font-size: 2rem;
}

header{
    padding: 30px 180px;
    background: rgba(255, 144, 14, 0.10);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul li{
    list-style: none;
}


nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav ul li a:hover{
    text-decoration: underline;
    color: orange;
    transition-duration: 0.5s;
}

.btn-btn{
    background-color: #FF900E;
    border: 1px solid #ff900e1a;
    padding: 10px 30px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}

.btn-btn:hover{
    background: #ff900e1a;
    border: 1px solid black;
    transition-duration: 0.5s;
}

.banner-title{
    font-size: 40px;
    text-align: center;
}

.banner-text{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #727272;
}

.banner_image{
    margin-top: 50px;
    width: 100%;
}

.btn_banner{
    justify-content: center;
    display: flex;
}

.btn-btn-banner{
    background-color: #FF900E;
    border: 1px solid #ff900e1a;
    padding: 10px 30px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}
.btn-btn-banner:hover{
    background: #ff900e1a;
    border: 1px solid black;
    transition-duration: 0.5s;
}

/* Teams releted style */
main{
    max-width: 1200px;
    margin: 0 auto;
}

.teams-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0;
    gap: 50px;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.teams-style{
    color: #FF900E;
}

/* Featured related style */
.fetured-section{
    margin: 100px 0;
}

.fetured-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.fetured-title{
    border-left: 3px solid #FF900E;
    padding-left: 10px;
    margin-bottom: 1rem;
}

.featured-card{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 5px 10px;
    margin-top: 1rem;
    border-radius: .5rem;
}

.fetured-img{
    width: 500px;
}

.experience{
    background-color: #FF900E;
    color: white;
    text-align: center;
    width: 270px;
    padding: 15px 10px;
    border-radius: 10px;
    position: relative;
    bottom: 100px;
    right: 50px;
}

.experience-title{
    font-size: 40px;
    font-weight: 700;
}

.experience-paragaraph{
    font-size: 24px;
    font-weight: 600;
}

/* fact related style */
.fact-discription{
    margin-bottom: 30px;
}
.fact-section{
    margin-bottom: 100px;
}
.fact-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fact-card{
    text-align: center;
    border: 1px solid #FF900E;
    padding: 10px 5px;
    border-radius: 6px;
}

/* sponspors related style */
.sponsore-section{
    margin-bottom: 100px;
}

.sponspors-discription{
    text-align: center;
    margin-bottom: 50px;
}

.sponsore-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

/* footer related */
footer{
    background-color: rgba(255, 144, 14, 0.10);
    text-align: center;
    padding: 30px 10px;
    margin-bottom: 30px;
}
/* Responsive for mobile device */
@media screen and (max-width: 576px) {
    /* banner section */
    nav{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }

    header{
        padding: 10px 10px;
    }


    /* Teams related */

    .teams-container{
        flex-direction: column-reverse;
        padding: 0 20px;
    }

    .teams-img-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-img-container img{
        width: 100%;
    }

    /* featured related */
    .fetured-container{
        flex-direction: column;
        padding: 0 10px;
    }
    .fetured-img{
        width: 100%;
    }

    /* fact related */
    .fact-container{
        flex-direction: column;
        gap: 20px;
    }

    .fact-discription{
        padding-left: 10px;
    }

    /* sponspors related */
    .sponsore-container{
        flex-direction: column;
        gap: 10px;
    }
    
}

/* Responsive for Tablet device */
@media screen and (min-width: 576px) and (max-width: 960px) {
    /* Banner related */
    nav{
        flex-direction: column;
    }

    header{
        padding: 20px;
    }

    /* teams related */
    .teams-container{
        flex-direction: column;
        padding: 0 20px;
    }
    /* featured related */
    .fetured-container{
        flex-direction: column;
        padding: 0 10px;
    }
    .fetured-img{
        width: 100%;
    }
    /* fact related */
    .fact-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0 10px;
        /* flex-direction: column;
        gap: 20px; */
    }
    .fact-discription{
        padding-left: 10px;
    }

    /* sponspors related */
    .sponsore-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}